<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app - About Us</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Weather</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/Weather">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About us</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid main_header">
    <div class="row align-items-center">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side of the page -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="images/about.jpeg" alt="Abhinav Yadav" class="img-fluid" title="Abhinav Yadav">
            </figure>
          </div>

          <!-- right side of the page -->
          <div class="col-md-6 col-12 main_header_left text-center text-md-left">
            <p class="welcome-text">Welcome to Weather App</p>
            <h1 class="main-title">About Me</h1>
            <p class="about-me-text">Hello! I'm <strong>Abhinav Yadav</strong>, currently in my 3rd year at the Indian Institute of Information Technology, Raichur. I have a passion for web development and this website is one of my projects created using Express.js. My goal is to combine my academic knowledge with practical skills to create innovative and user-friendly web applications. Thank you for visiting!</p>
          </div>
        </div>
      </div>
    </div>
</div>
<footer class="text-center mt-5">
        <p>&copy; 2024 Weather App. All rights reserved.</p>
    </footer>
</body>
</html>
